/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0; /* Eliminar márgenes del body */
}

.invitation-container {
    background-color: #ffffff;
    border: 5px solid #f1c40f;
    border-radius: 15px;
    padding: 20px; /* Ajusta el padding */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.invitation-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.invitation-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.couple-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.audio-container {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.audio-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25D366;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.audio-button:hover {
    background-color: #128C7E;
}

/* Icono de reproducción */
.play-icon {
    font-size: 1.5em;
    margin-right: 10px;
}

/* Estado de audio */
.audio-status {
    font-size: 1em;
}

/* Contador de cuenta regresiva */
.countdown {
    font-size: 1em;
    margin: 20px 0;
}

.countdown-title {
    font-size: 1.2em;
}

.countdown-time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.time-block {
    margin: 0 5px;
    text-align: center;
}

.countdown-time span {
    font-size: 1.5em;
}

.separator {
    font-size: 1.5em;
    margin: 0 10px;
}

.label {
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}

.invitation-details {
    margin-top: 20px;
    font-family: 'Lora', serif;
}

.confirmation-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #c2a386;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
}

.confirmation-button:hover {
    background-color: #f1c40f;
}

/* Separador personalizado */
.custom-separator {
    border: none;
    border-top: 2px solid #c2a386;
    margin: 50px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .invitation-container {
        padding: 15px; /* Menos padding en pantallas pequeñas */
    }

    .invitation-header h1 {
        font-size: 2em; /* Tamaño más pequeño del título */
    }

    .invitation-header h2 {
        font-size: 1.2em; /* Tamaño más pequeño del subtítulo */
    }

    .audio-button {
        padding: 8px; /* Ajuste en el padding para pantallas pequeñas */
        font-size: 0.9em; /* Tamaño de fuente más pequeño */
    }

    .play-icon {
        font-size: 1.2em; /* Tamaño más pequeño del icono */
    }

    .countdown-time span {
        font-size: 1.2em; /* Tamaño más pequeño para los números */
    }

    .separator {
        font-size: 1.2em; /* Tamaño de los dos puntos */
    }

    .label {
        font-size: 0.7em; /* Tamaño más pequeño para las etiquetas */
    }

    .confirmation-button {
        padding: 10px 20px; /* Ajuste en el padding para pantallas pequeñas */
        font-size: 1em; /* Tamaño más pequeño del texto */
    }
}
